@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    text-align: center;
    overflow: auto;
    color: #000;
    transition: background-image 0.5s ease, color 0.5s ease;
}

.dark-mode {
    transition: background-image 0.5s ease, color 0.5s ease;
    background-image: url(assets/backgrounds/darkmode.png);
    color: #FFF;
}

.light-mode {
    background-image: url(assets/backgrounds/lightmode.png);
}

/* Logo styles */
#logo {
    max-width: 100%;
    height: auto;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    transition: opacity 0.5s ease; /* Add transition for opacity */
}

.dark-mode #logo {
    content: url(assets/logo/crysion-light.png);
}

.light-mode #logo {
    content: url(assets/logo/crysion-dark.png);
}

/* Mode switch button styles */
.mode-switch-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    border: 1px solid #006FEE;
    border-radius: 15px;
    overflow: hidden;
}

.mode-switch-button {
    padding: 10px 20px;
    background-color: #FFF;
    color: #006FEE;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    border: none;
}

.mode-switch-button.active {
    background-color: #006FEE;
    color: #FFF;
}

.mode-switch-button:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.mode-switch-button:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.login-text {
    font-weight: bold;
    font-size: 5vw;
    margin: 20px 0;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
    gap: 10px; /* Space between input and button */
    width: 400px; /* Set a width to ensure proper spacing */
}

.input-box {
    width: 100%; /* Full width of the container */
    height: 50px;
    border-radius: 10px;
    border: 1px solid #989898;
    background-color: rgba(217, 217, 217, 0.5);
    padding: 10px;
    font-size: 1.2em;
    box-sizing: border-box;
    color: #000;
}

.input-box::placeholder {
    transition: color 0.5s ease;
    color: #000;
}

.dark-mode .input-box::placeholder {
    color: #FFF;
}

.forgot-password-button {
    width: 225px; /* Adjust width to fit content */
    height: 50px;
    border-radius: 25px;
    background-color: #006FEE;
    color: #FFF;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    margin-top: 10px; /* Space between input box and button */
    align-self: flex-end; /* Align button to the right */
}

/* Back button styles */
.back-button {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px; /* Move to the left side of the screen */
    padding: 10px 20px;
    background-color: #FFF;
    color: #006FEE;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #006FEE;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
    background-color: #006FEE;
    color: #FFF;
}

.back-arrow {
    font-size: 16px; /* Adjust arrow size */
    margin-right: 8px; /* Space between arrow and text */
}

/* Adjust mode-switch-container to avoid overlap */
.mode-switch-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    border: 1px solid #006FEE;
    border-radius: 15px;
    overflow: hidden;
}