/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700;900&display=swap');

/* Main Body */
body {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    color: #000;
    transition: background-image 0.5s ease, color 0.5s ease;
}

/* Custom Close/Minimize/Maximise Buttons */

.window-controls {
    position: absolute;
    top: 10px;
    right: 10px; 
    display: flex;
    gap: 10px; 
}

/* Style for each control button */
.window-controls div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
}

#close-button {
    background-color: #ff5f57;
}

#minimize-button {
    background-color: #ffbd2e;
}

#maximize-button {
    background-color: #28c840;
}

/* Backgrounds (Styles) */
.dark-mode {
    background: rgb(32,87,57);
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.light-mode {
    background: rgb(238,174,202);
    background: linear-gradient(112.1deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Settings Menu */

.settings-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 5;
}

.settings-icon img {
    width: 32px;
    height: 32px;
}

/* Sidebar Styling [Settings Menu] */

    /* Sidebar Logo Styling */

    #logoSettings {
        width: 100%; /* Adjust size as needed */
        height: auto; /* Maintain aspect ratio */
        max-width: 100%; /* Ensure it doesn’t exceed container */
    }
    

    .dark-mode #logoSettings {
        content: url(assets/logo/crysion-lightwtext.png);
    }

    .light-mode #logoSettings {
        content: url(assets/logo/crysion-darkwtext.png)
    }

.settings-sidebar,
.styles-sidebar { /* Add styles-sidebar to target both */
    position: fixed;
    top: 0;
    left: -25%;
    width: 25%;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
    box-sizing: border-box;
    transition: left 0.3s ease-in-out;
    overflow-y: auto;
}

.dark-mode .settings-sidebar,.styles-sidebar {
    background-color: rgb(32, 38, 57);
    color: white;
}

.light-mode .settings-sidebar,.styles-sidebar {
    background-color: white;
}

.settings-sidebar.show,
.styles-sidebar.show { /* Ensure both sidebars can be shown */
    left: 0;
}

.dark-mode .settings-icon {
    filter: invert(100%) sepia(3%) saturate(3%) hue-rotate(303deg) brightness(118%) contrast(100%);
}

.sidebar-button {
    width: 95%;
    padding: 18.5px;
    margin: 10px 0;
    background-color: #008080;
    color: #FFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar-button:hover {
    background-color: #016b6b;
}


.sidebar-footer {
    margin-top: auto;
    padding-bottom: 20px;
    text-align: center;
    color: #828282;
    font-size: 14px;
}

/* Overlay Styles [Settings Menu]*/

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#overlay.show {
    opacity: 1;
    visibility: visible;
}

#logo {
    max-width: 100%;
    height: auto;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    transition: opacity 0.5s ease; /* Add transition for opacity */
}

/* Logo Styling */
#logo {
    max-width: 100%;
    height: auto;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    transition: opacity 0.5s ease;
}

.dark-mode #logo {
    content: url(assets/logo/crysion-light.png);
}

.light-mode #logo {
    content: url(assets/logo/crysion-dark.png);
}

/* Main Content Styling */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7.5%; /* Adjusted margin-top for better positioning */
}

.light-mode .login-text {
    color: black;
    font-weight: bold;
    font-size: 5vw;
    margin: 20px 0;
}

.dark-mode .login-text {
    color: white;
    font-weight: bold;
    font-size: 5vw;
    margin: 20px 0;
}

/* Sign In Styling (Main Content Styling) */
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;
}

.input-box {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #989898;
    background-color: rgba(217, 217, 217, 0.5);
    padding: 10px;
    font-size: 1.2em;
    box-sizing: border-box;
    color: #000;
}

.input-box::placeholder {
    transition: color 0.5s ease;
    color: #000;
}

.dark-mode .input-box::placeholder {
    color: #FFF;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 105px; /* Space between buttons */
    margin-top: 20px;
}

.forgot-password-button {
    background-color: #006FEE;
    color: #FFF;
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 45px;
}

.forgot-password-button:hover {
    background-color: #004bb5;
}

.back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none; /* Remove underline from link */
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: 20px; /* Adjust margin-right for leftward movement */
    position: relative; /* Allows for fine-tuning with left property */
    left: 5px; /* Move the button 10px to the left */
}

.back-button:hover {
    color: #004bb5;
}

.light-mode .back-button {
    color: #000000;
}

.light-mode .back-button:hover {
    color: #004bb5;
}

/* Error Notification Styling */
.error-notification {
    width: 400px;
    padding: 10px 20px;
    margin-top: 23px;
    border: 2px solid red;
    border-radius: 8px;
    background-color: #FFF;
    opacity: 0;
    display: none;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: flex-start;
}

.error-notification.show {
    opacity: 1;
    visibility: visible;
}

.icon-container {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.error-icon {
    width: 24px;
    height: 24px;
    scale: 1.25;
}

.text-container {
    margin-left: 20px;
}

.error-notification h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin: 0 0 5px 0;
    color: #333333;
    text-align: left;
}

.error-notification p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #4D4D4D;
    margin: 0;
    text-align: left;
    overflow-wrap: break-word;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background: none;
    border: none;
    color: #828282;
    transition: color 1s ease, transform 2.5s ease;
}

.close-button:hover {
    color: darkred;
    transform: scale(1.5);
}

.hidden {
    display: none;
}

/* Responsive styles */
@media (max-width: 768px) {
    .login-text {
        font-size: 8vw;
    }

    #logo {
        width: 35%;
    }

    .input-box {
        width: 70%;
        height: 8vw;
    }

    .button-container {
        width: 70%;
    }

    .forgot-password-button, .back-button {
        width: 70%;
        height: 8vw;
    }
}

@media (max-width: 480px) {
    .login-text {
        font-size: 10vw;
    }

    #logo {
        width: 45%;
    }

    .input-box {
        width: 80%;
        height: 10vw;
    }

    .button-container {
        width: 80%;
    }

    .forgot-password-button, .back-button {
        width: 80%;
        height: 10vw;
    }
}
