/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Main Body */

body {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    color: #000;
    transition: background-image 0.5s ease, color 0.5s ease; /* Add transition for background and text color */
}

/* Backgrounds (Styles) */

.dark-mode {
    background: rgb(32,87,57);
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    background: -moz-linear-gradient(to right, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    background: -webkit-linear-gradient(to right, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    background-size: cover;  /* Ensure the background covers the whole page */
    background-repeat: no-repeat;  /* Prevent the background from repeating */
    background-position: center center;  /* Center the background image */
}

.light-mode {
    background: rgb(238,174,202);
    background: linear-gradient(112.1deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background: -moz-linear-gradient(to right, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background: -webkit-linear-gradient(to right, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background-size: cover;  /* Ensure the background covers the whole page */
    background-repeat: no-repeat;  /* Prevent the background from repeating */
    background-position: center center;  /* Center the background image */

}

/* Settings Menu */

.settings-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 5;
}

.settings-icon img {
    width: 32px;
    height: 32px;
}

/* Sidebar Styling [Settings Menu] */

    /* Sidebar Logo Styling */

    #logoSettings {
        width: 100%; /* Adjust size as needed */
        height: auto; /* Maintain aspect ratio */
        max-width: 100%; /* Ensure it doesn’t exceed container */
    }
    

    .dark-mode #logoSettings {
        content: url(assets/logo/crysion-lightwtext.png);
    }

    .light-mode #logoSettings {
        content: url(assets/logo/crysion-darkwtext.png)
    }

.settings-sidebar,
.styles-sidebar { /* Add styles-sidebar to target both */
    position: fixed;
    top: 0;
    left: -25%;
    width: 25%;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
    box-sizing: border-box;
    transition: left 0.3s ease-in-out;
    overflow-y: auto;
}

.dark-mode .settings-sidebar,.styles-sidebar {
    background-color: rgb(32, 38, 57);
    color: white;
}

.light-mode .settings-sidebar,.styles-sidebar {
    background-color: white;
}

.settings-sidebar.show,
.styles-sidebar.show { /* Ensure both sidebars can be shown */
    left: 0;
}

.dark-mode .settings-icon {
    filter: invert(100%) sepia(3%) saturate(3%) hue-rotate(303deg) brightness(118%) contrast(100%);
}

.sidebar-button {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    background-color: #006FEE;
    color: #FFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar-button:hover {
    background-color: #004bb5;
}


.sidebar-footer {
    margin-top: auto;
    padding-bottom: 20px;
    text-align: center;
    color: #828282;
    font-size: 14px;
}

/* Overlay Styles [Settings Menu]*/

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#overlay.show {
    opacity: 1;
    visibility: visible;
}

#logo {
    max-width: 100%;
    height: auto;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    transition: opacity 0.5s ease; /* Add transition for opacity */
}

/* Logos (Styles) */

.dark-mode #logo {
    content: url(assets/logo/crysion-light.png); /* Dark mode logo */
}

.light-mode #logo {
    content: url(assets/logo/crysion-dark.png); /* Light mode logo */
}

/* Main Content Styling */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
    padding: 0 10px; /* Add padding for smaller screens */
    box-sizing: border-box; /* Ensure padding is included in width */
    height: 100%;
    width: 100%;
}

.light-mode .login-text {
    color: black;
    font-weight: bold;
    font-size: 5vw;
    margin: 20px 0;
}

.dark-mode .login-text {
    color: white;
    font-weight: bold;
    font-size: 5vw;
    margin: 20px 0;
}

/* Sign In Styling (Main Content Styling) */

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px; /* Add gap between email and password */
}

.input-box {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #989898;
    background-color: rgba(217, 217, 217, 0.5);
    padding: 10px;
    font-size: 1.2em;
    box-sizing: border-box;
    color: #000;
}

.input-box::placeholder {
    transition: color 0.5s ease; /* Transition for placeholder text color */
    color: #000;
}

.dark-mode .input-box::placeholder {
    color: #FFF;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-top: 10px;
}

.remember-me {
    display: flex;
    align-items: center;
    color: #000;
}

.dark-mode .remember-me {
    color: #FFF;
}

.remember-me input {
    margin-right: 5px;
}

.forgot-password {
    color: #006FEE;
    text-decoration: none;
    margin-right: 0;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 400px;  /* Consistent with the input boxes */
    margin-top: 20px;
    position: relative; /* Container for absolute positioning of children */
}

.sign-in-button {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: #006FEE;
    color: #FFF;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    margin-right: -10px;
}

/* Error Notification Styling */

.error-notification {
    width: 400px;
    padding: 10px 20px;
    margin-top: 23px;
    border: 2px solid red;
    border-radius: 8px;
    background-color: #FFF;
    opacity: 0;
    display: none;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Transition for fade-in/out */
    box-sizing: border-box;
    position: relative;
    display: flex; /* Flexbox to align items horizontally */
    align-items: flex-start; /* Align items at the start of the container */
}

.error-notification.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Transition for fade-in/out */
}

.icon-container {
    display: flex;
    align-items: center; /* Center icon vertically */
    flex-shrink: 0; /* Prevent the icon from shrinking */
}

.error-icon {
    width: 24px; /* Fixed width for the icon */
    height: 24px; /* Fixed height for the icon */
    scale: 1.25;
}

.text-container {
    margin-left: 20px;
}

.error-notification h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin: 0 0 5px 0; /* Margin at the bottom to separate from paragraph */
    color: #333333;
    text-align: left; /* Ensure text is aligned to the left */
}

.error-notification p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #4D4D4D;
    margin: 0;
    text-align: left; /* Ensure text is aligned to the left */
    overflow-wrap: break-word; /* Prevent overflow by breaking long words */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background: none;
    border: none;
    color: #828282;
    transition: color 1s ease, transform 2.5s ease;
}

.close-button:hover {
    color: darkred;
    transform: scale(1.5);
}

.hidden {
    display: none;
}

/* Responsive styles */
@media (max-width: 768px) {
    .login-text {
        font-size: 8vw;
    }

    #logo {
        width: 35%;
    }

    .input-box {
        width: 70%;
        height: 8vw;
    }

    .row {
        width: 70%;
    }

    .button-container {
        width: 70%;
    }

    .sign-in-button {
        width: 70%;
        height: 8vw;
    }
}

@media (max-width: 480px) {
    .login-text {
        font-size: 10vw;
    }

    #logo {
        width: 45%;
    }

    .input-box {
        width: 80%;
        height: 10vw;
    }

    .row {
        width: 80%;
    }

    .button-container {
        width: 80%;
    }

    .sign-in-button {
        width: 80%;
        height: 10vw;
    }
}

@media (max-width: 1024px) {
    .container {
        margin-top: 5%; /* Reduce top margin for tablets and smaller screens */
        padding: 0 5%; /* Adjust padding for medium screens */
    }
}

@media (max-width: 768px) {
    .container {
        margin-top: 2.5%; /* Further reduce top margin for small screens */
        padding: 0 2%; /* Adjust padding for smaller screens */
    }
}

@media (max-width: 480px) {
    .container {
        margin-top: 0; /* Remove top margin for very small screens */
        padding: 0 1%; /* Adjust padding for very small screens */
    }
}